.gradient-border {
   border: 1px solid #8FFF9D;
  }

 
.border-gray {
    border-top: 1px solid #2e2626;
}

.levitation {
  animation: float 6s ease-in-out infinite;
}

.bg-form-2 {
  background-image: url('/bg-oque.png');
  background-size: cover;
  width: 100%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
