.border-gradient {
  border: 1px solid;
  border-color: #DBFF4B
}

.bg-form {
  background-image: url('/overlay.png');
  background-size: cover;
  width: 100%;
}

@keyframes loadingButton {
  0% {
      background-position: 0% 50%;
      transform: scale(1);
  }
  50% {
      background-position: 100% 50%;
      transform: scale(1);
  }
  100% {
      background-position: 0% 50%;
      transform: scale(1);
  }
} 

.loading-button {
  background: linear-gradient(45deg, #8FFF9D, #DBFF4B);
  background-size: 200% 200%;
  animation: loadingButton 2s infinite;
  animation-delay: 1s;
  border: none;
  outline: none;
  cursor: pointer;
}

.loading-button:active {
  color: #000;
}


.image {
  position: absolute;
  transition: transform 0.1s ease-out;
}

.image1 {
  z-index: 2;
}

.image2 {
  z-index: 3;
}
